.login-box {
    background-color: green;
    height: 500px;
    width: 350px; 
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 15px;
    text-align: center;
    padding-bottom: 15px;
}

.login-box > * {
  padding: 20px;
}