body{
    background-color: #ffffff;
}
header{
    margin-top: 64px;
    text-align: center;
}
#buttons{
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 128px;
}
.cat-button{
    height: 512px;
    width: 512px;
    background-color: #ffffff;
    box-shadow: 0px 0px 24px 8px #000000;
    border-radius: 8px;
}
